@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  color: white;
  font-family: "Barlow", sans-serif;
  /* background: rgb(40, 40, 40); */
  margin: 0px;
}

.custom-container {
  padding: 0 !important;
}
